.paragraphs2 {
  text-decoration: none;
  width: 18vw;
  font-size: 1.1vw;
  color: #5a5a5a;
  cursor: default;
}

.date1 {
  margin-top: 2vw;
  margin-left: 10vw;
  position: absolute;
  font-size: 2vw;
  color: #5a5a5a;
  text-transform: uppercase;
}

.date2 {
  margin-top: 2vw;
  margin-left: 31vw;
  position: absolute;
  font-size: 2vw;
  color: #5a5a5a;
  text-transform: uppercase;
}

.date3 {
  margin-top: 2vw;
  margin-left: 52.5vw;
  position: absolute;
  font-size: 2vw;
  color: #5a5a5a;
  text-transform: uppercase;
}

.date4 {
  margin-top: 2vw;
  margin-left: 74vw;
  position: absolute;
  font-size: 2vw;
  color: #5a5a5a;
  text-transform: uppercase;
}

.place1 {
  margin-top: 31vw;
  margin-left: 10vw;
  position: absolute;
  font-size: 1vw;
  color: #5a5a5a;
}

.place2 {
  margin-top: 40.5vw;
  margin-left: 31.2vw;
  position: absolute;
  font-size: 1vw;
  color: #5a5a5a;
}

.place3 {
  margin-top: 31vw;
  margin-left: 52.5vw;
  position: absolute;
  font-size: 1vw;
  color: #5a5a5a;
}

.place4 {
  margin-top: 40.5vw;
  margin-left: 73.7vw;
  position: absolute;
  font-size: 1vw;
  color: #5a5a5a;
}

.sixthblock-respons,
.date-respon,
.plakats-respon,
.place-respon,
.paragraphs4 {
  display: none;
}

@media (max-width: 767px) {
  .date1,
  .date2,
  .date3,
  .date4,
  .place1,
  .place2,
  .place3,
  .place4 {
    display: none;
  }

  .date-respon {
    display: block;
    margin-top: 10vw;
    font-size: 6vw;
    color: #5a5a5a;
    text-transform: uppercase;
  }

  .plakats-respon {
    display: block;
    width: 70vw;
  }

  .place-respon {
    display: block;
    font-size: 3.5vw;
    color: #5a5a5a;
  }

  .paragraphs4 {
    display: block;
    font-size: 4vw;
    color: #5a5a5a;
    width: 85vw;
    margin-top: 3vw;
  }

  .sixthblock {
    display: none;
  }

  .sixthblockresp {
    height: 665vw;
  }

  .sixthblock-respons {
    margin-left: 9.5vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
}
